[2017-09-11 11:58] ellaismer opened #1 "Add your client as a bootnode"
If you have a long-running Parity client, please share the enode URI to add it as a bootnode.

Your enode URI will be displayed when you start your Parity client, and it is in the format of `enode://816bff950121884a5de03332d6a1dd67d89c9a99fa85338148b47f33378b1093e532ab5e63bafe156c568d270fe43c30d62c690481799c62414ac996d5908755@108.61.198.224:30303`.

[2017-09-12 16:15] gavrilo77 commented on #1
enode://be62cf8128c575215ef2dd510eebb09e308a6a76e8cfc19e21d4b6b9180476d8aebbae8a48291847b36b8b0c1688951ad920c6221ea821b0f646a4a6a4469ca6@127.0.0.1:30303

[2017-09-12 16:15] gavrilo77 commented on #1
enode://cde0932df8adb3ac234ff0b9614539a95639701e5bb94bcb5cb180bc1633cad20b4aa48c9e04826f9e811be59e2ce39ad65534ea659fef483abdd90ab3d12ad3@127.0.0.1:30303

[2017-09-12 16:16] gavrilo77 commented on #1
enode://fd124720dcf3a1cf783e8aac3a88a3699fc5665554eda8f179b7fee8b1566062b326576c741401b305a95fb063b2361e54b432bd2854ed5d6ca39ecd12c31290@127.0.0.1:30303

[2017-09-12 16:22] ellaismer commented on #1
@gavrilo77 Those address seems not to have a public IP address -- it has the loopback address 127.0.0.1. So unfortunately, other clients will not be able to connect to it and it cannot act as a bootnode. 😢

If you are sure that you have a public IP address, please check your router's NAT settings. Make sure the enode address you get is anything other than 127.0.0.1 or in the [private IPv4 address

[2017-09-12 23:30] DragonFyZex opened #2 "here"
enode://237b9c71455b98582f4567349621e72173e9c843832388cbefef1b54dcc42df73ba0e62a6a5a9c25e3acba2251e66eaa9904411d8c24c3d3584fdee5433437ef@127.0.0.1:30303

[2017-09-12 23:30] DragonFyZex commented on #1
enode://237b9c71455b98582f4567349621e72173e9c843832388cbefef1b54dcc42df73ba0e62a6a5a9c25e3acba2251e66eaa9904411d8c24c3d3584fdee5433437ef@127.0.0.1:30303

[2017-09-13 03:49] ellaismer commented on #1
@DragonFyZex As said above, please make sure the enode address you get is anything other than 127.0.0.1 or in the private IPv4 address space. Otherwise, clients won't be able to connect to your node.

[2017-09-14 01:20] sstercan commented on #1
enode://9215ad77bd081e35013cb42a8ceadff9d8e94a78fcc680dff1752a54e7484badff0904e331c4b40a68be593782e55acfd800f076d22f9d2832e8483733ade149@213.14.82.125:30303

[2017-09-14 02:06] ellaismer commented on #1
Thanks @sstercan! Added.

[2017-09-14 06:34] #2 closed

[2017-09-14 06:34] DragonFyZex opened #3 "So where would I find the code for this"

[2017-09-14 19:46] ellaismer commented on #3
Ellaism is mostly compatible with many Ethereum blockchains. Parity (https://github.com/paritytech/parity) is currently the main client used for Ellaism.

[2017-09-14 19:47] #3 closed

[2017-09-14 19:49] ellaismer commented on #3
There's indeed a plan to create a fork of Parity and use native contracts to improve the EVM performance. But that's long way in the future.

If that doesn't answer your question, feel free to reopen this issue. :)

[2017-10-20 21:24] DragonFyZex opened #4 "Donations Appreciated"
Made the discord. Don't know if this is good enough.

[2017-10-22 17:55] ellaismer commented on #4
@DragonFyZex Do you mean you want to be added to the Donations page? What's your donation address?

[2017-10-23 03:06] ellaismer commented on #4
Added.

[2017-10-23 03:06] #4 closed

[2017-10-23 03:20] riddlez666 opened #5 "add me to donations please"
0xc393659c2918a64cdfb44d463de9c747aa4ce3f7

[2017-10-23 03:26] ellaismer commented on #5
Added! Thanks for your work on ellaism.com!

[2017-10-23 03:26] #5 closed

[2017-11-01 01:18] ultramenid commented on #1
Singapore Node by digitalocean
enode://edd90c4cc64528802ad52fd127d80b641ff80fd43fa5292fb111c8bd2914482dffee288fd1b0d26440c6b2c669b10a53cbcd37c895ba0d6194110e100a965b2d@188.166.179.159:30303

[2017-11-01 10:20] ellaismer commented on #1
Thanks @ultramenid! Added.

[2017-12-10 19:03] ellaismer commented on #1
We've had enough bootnode as of now. Thanks for everyone's help!

If you still want your client added as a bootnode, please feel free to continue to comment on this issue.

[2017-12-10 19:04] #1 closed

[2017-12-10 19:09] ellaismer opened #6 "Project: BTC Relay"
This issue is used to keep track of the progress of BTC Relay. Please feel free to comment your ideas or if you would like to help. We'll also soon have an update with a concrete plan for BTC Relay development.

What is planned next:

- [ ] Create a better fetchd script for BTC relay for easy use for relayers. The current fetchd script works, but is reported to be buggy and is not user-friendly fo

[2017-12-10 19:11] ellaismer opened #7 "Project: Dapps Migration"
Migrate existing useful Ethereum dapps to Ellaism chain.

* [X] ENS
* [X] CarbonVote
* [ ] Tokenmint
* [x] [ProveIt](https://github.com/NoahZinsmeister/ProveIt)

[2017-12-10 19:13] ellaismer opened #8 "Project: Protocol Specification"
Relevant repository: https://github.com/ellaism/specs

[2017-12-10 21:52] tbates76 commented on #6
there anything in place to protect contracts?

[2017-12-10 23:00] ellaismer commented on #6
@tbates76 Didn't quite get what you mean. Can you elaborate?

Contracts are always secured by the network. That is, they're as secured as it is designed and implemented. We definitely need security audit, testing and code review to make sure we would not be troubled by contract bugs.

[2017-12-11 00:07] tbates76 commented on #6
Two things.
 1) How will the tx for the btc relay be secured so that User A doesn't look up the info for user B and withdraw.
 2) The issue Eth had with contracts recently, where contracts were locked up, is Ellaism exposed to that?

[2017-12-11 09:32] ellaismer commented on #6
1. BTC chain is public. So everyone can lookup the info for user B. Atomic swap usually works with a pre-given address. You need to send on the Ellaism chain a proof that you have send a BTC transaction to a pre-given address. So in this case, no matter who submit the transaction to BTC relay, the rightful owner is already known.
2. Ellaism is not affected by the recent Parity multi-sig hack. As s

[2017-12-18 06:43] ellaismer opened #9 "Discussion: Total Supply and Coin Halving Model"
There was a discussion happened on Discord about Ellaism's coin halving model. It is copied here for future reference. Please also feel free to put your thoughts into the comments.

[2017-12-18 06:52] ellaismer commented on #9
johndis

how can the community know what's being worked on?
even if it means detailing what's being worked on without an ETA for the sake of visibility
Also I agree, there should be a far stricter monetary policy
ELLA's inflation is far too high to truly allow any individual ELLA coin to go up in value
Investors will keep away
Nobody wants to get diluted

ellaismer

If you are looking for roadmap,

[2017-12-18 06:54] ellaismer commented on #9
Jones

From our conversation this morning on inflation, I did some more research on inflation and hyper-inflation and I bumped into this article. (link below) I would encourage you to read it and post your thoughts. It mainly focuses on Bitcoin, but you can extrapolate that a crypto currency with a fixed supply will only increase in price due to its rarity.
http://www.zerohedge.com/news/2017-12-12

[2017-12-18 09:52] ellaismer commented on #9
johndis - Today at 3:07 AM

Volt - Today at 3:08 AM

johndis - Today at 3:10 AM

All the projected 2018 gains surpassed in November.
All of the projected 2019 gains surpassed in December.
The inflation rate on Ella isn't even linear."
@ellaismer that's exactly right - "When investors invest this coin, they would already have taken the total supply in consideration, and the thing matters to everyon

[2017-12-27 11:56] ellaismer opened #10 "Contract Source Code Validation Fails"
Reported by @buzzkillb.

contract address: 0x5f516f4556589379ebb9ab66460c1b5b577feb5a
token name: Triforce
Symbol: TRI
decimals: 8
solidity: 0.4.18

[code]

Expected contract creation input:

[code]

Deployed around dec 10 or 11.

[2017-12-27 12:06] andreasenglund opened #11 "View all transactions on wallet in block explorer shows only latest transaction"
Checking view All transactions on a wallet in the block explorer only shows the latest transaction.

[2017-12-27 12:09] andreasenglund commented on #11
![screenshot_20171227-130240](https://user-images.githubusercontent.com/713017/34381163-0a62f9f4-eb07-11e7-8772-6325a734ecd6.png)

[2017-12-30 15:41] ellaismer opened #12 "Explorer Wishlist"
Here're new features requested to add to the explorer. Please feel free to reply with the thing you want to see.

#### @ellaismer's List

Below are features that @ellaismer also highly thinks should be done first, but haven't got a planned date for implementation.

- [x] Open source the explorer.

#### New

- [ ] Show confirmation counts for transactions.
- [x] Favicon and ether to ella typos for

[2017-12-30 15:49] riddlez666 commented on #12
Favicon and ether to ella typos for coin consistency.

[2017-12-30 16:12] tbates76 commented on #12
Perhaps we can intergrate stats.ellaism.org to show blocktime hash and difficulty. Also a link to richlist

[2017-12-30 19:53] riddlez666 opened #13 "Project: Ellagem"
- [ ] Get ellagem to pull proper price data from cryptocompare api. ella/btc
[One area of intrest.](https://github.com/ellaism-io/meteor-dapp-wallet/blob/develop/app/client/lib/ethereum/observeTransactions.js) Line 417 and On
[Screenshot](http://prntscr.com/huakri)
The two work in tandum.
[Ellagem](https://github.com/ellaism-io/ellagem)
[Wallet dapp](https://github.com/ellaism-io/meteor-dapp-walle

[2017-12-31 14:58] riddlez666 opened #14 "Project: Myellawallet"
- [x] favicon and all myetherwallet references replaced with myellawallet, example is printing paper wallets.

- [x] finish dns for myellawallet.com once domain is transfered EST Jan 3-4.

[myellawallet](https://github.com/ellaism/ellawallet)

[2018-01-01 18:10] ellaismer opened #15 "Introduction and membership thread"
If would like to help out Ellaism development and want to gain membership to this Github organization, post to this thread to introduce yourself. While you're there, remember to follow our simple [Github rules](https://github.com/ellaism/meta/blob/master/github.md).

[2018-01-03 19:20] ellaismer commented on #9
This is the spreadsheet going into detail of Ellaism's coin supply model with comparison of Bitcoin: https://docs.google.com/spreadsheets/d/1v3T6gRupH4C4Zx3B60fOOIqFiilItSpVTszEHjyIPIw/edit#gid=640070299

Basically, Ellaism is similar to Bitcoin2x -- if Bitcoin's block time is 25 minutes instead of 10 minutes, Bitcoin and ELLA would have similar 50% and 90% checkpoint.

[2018-01-04 07:30] sorpaas commented on #9
Interesting. I think the philosophical difference between Bitcoin and Ellaism is how long the cryptocurrency market would stabilize? Looking at crossing the 3% annual inflation rate (I think after that it is just tail emission and doesn't really matter much), Bitcoin thinks it takes around 10 years from 2009, but Ellaism thinks the number should be 16 years from 2017? Well.. doesn't sound too unre

[2018-01-05 08:16] jorrinpollard commented on #15
Hi guys, I think this an interesting project and I'd like to help out with development. I can start with working on the myetherwallet to myellawallet conversion if help is still needed there.

[2018-01-05 08:28] ellaismer commented on #15
@jorrinpollard Great and invited! For ellawallet, right now all functions work, but we have few icons/descriptions still refer to Ethereum rather than Ellaism. If you want, you can help to fix them.

In the mean time, we're trying to get Ledger support for ellawallet and other Ellaism wallets. If you happen to have time to help on that as well, just let me know!

[2018-01-05 08:43] jorrinpollard commented on #15
Awesome! I'll start small and clean up the copy and icons for now. Once I'm done I'll look into Ledger support and dive in if it seems like something I can help with.

[2018-01-10 14:52] mike-theminer commented on #12
Hi, I'm a freelance dev from nekonium (eth clone). I developed http://nekonium.network/ . Would you like to have this kind of explorer on ellaism ? I can customize + add functionalities to the explorer as your requirements

[2018-01-11 15:15] ellaismer commented on #12
@mike-theminer Yeah definitely. If it works well, we can replace the current buggy explorer.ellaism.org. :)

[2018-01-23 17:47] TomJaeger commented on #9
Inflation with a Crypto is interesting as a whole as it doesn't mirror traditional currencies.  One may argue that inflation doesn't happen when coins are mined, but rather when they are in circulation (ex miner sells position).  This is one of the fundamental differences in the crypto space (VS government). Which also adds another dynamic to the equation as a whole.

When we discuss supply (coins

[2018-01-30 01:50] tbates76 opened #16 "Discussion Community Wallet uses"
TBates76 - Today at 3:37 PM
opening up discussion on payment to devs and use of community funds
@ everyone Idea has been suggested to make fund especially for exchange listings.
So there is no confusion the community fund is set to pay for community devs and in the future server costs if need be. Or as the community votes as needed
(edited)
ɃuzzkillɃ 🔺 - Today at 4:29 PM
@everyone
Jurassikbart - T

[2018-02-05 12:22] cryptowd commented on #14
Hi, I can help a bit with updating text and artwork for Myellawallet.  Most of the Ethereum references seem fixed, but I can help with any other basic cosmetic updates-- like the paper wallet label.

I believe I need write permission to branch it and and then do a pull request.  I'm new to this github thing.

Sample attached.

![print-sidebar](https://user-images.githubusercontent.com/34805878/358

[2018-02-05 12:46] ellaismer commented on #14
@cryptowd Thank you! Please do!

I invited you as a member to this Github org. You can push changes first to a fork in your own Github username, and then using that to send PRs.

[2018-02-07 03:02] cryptowd commented on #15
I never properly introduced myself.   I think I just wanted to see if I could make a contribution before worrying about anything official.

I've been interested in the Ellaism project and following it since the first weeks.  I'm new to blockchain technology in general with ELLA being the first project I bothered to set up a miner to support.  I've been surveying the whole crypto field, but I think

[2018-02-09 01:43] riddlez666 opened #18 "Alter pool software to allow pool fee to be changed by user."
Find a way to make it so a user can select/modify the amount they want to donate from there block reward shares.

Using ella contracts and a discord bot.

- [ ] go/redis backend (might not be needed for pool.)
- [ ] Front end design and code
- [x] Thorough testing
- [x] List of donation values confirmed and agreed to. (Custom due to bot)
- [ ] See value of estimated rewards to user and dev.
- [ ]

[2018-02-09 16:05] riddlez666 commented on #18
![screenshot_10](https://user-images.githubusercontent.com/32908855/36036888-ef0b86cc-0d6f-11e8-825c-f9f2ec007dd2.png)

[2018-02-14 00:56] Mininghomer commented on #16
I am not a dev but I am an enthusiast miner and I like everything about Ella. Right now i have 1 rig on Ella miner pool and 1 rig on Ella Dev pool would it be possible to have a pool with 1% fee 45%-Dev 45%Community and 10% Dev pay if this pool Option were available I would be an immediate contributor. I believe each fund is important to the growth of Ella.

[2018-02-14 12:53] ellaismer commented on #9
I was asked recently that why the halving block number is 10 million but not anything else (for example, in ETC, it is 5 million). The original consideration is to make the monetary policy to have:

1. A fixed total supply.
2. A long tail emission so that block rewards don't drop too early which may cause miners to leave.

Many coins (like Monero and Ubiq) choose to give (2) priority by simply not

[2018-02-16 17:28] riddlez666 commented on #18
@ellaismer been chatting with users and they would really like the option to do these things and i hope you will help :)

[2018-02-16 17:36] ellaismer commented on #18
@riddlez666 Thanks for putting this up! I'm thinking about some simpler methods to do this before we jump in modifying the pool, because the later would need to completely change the unlocker which is a lot of work.

How about this: we use a customized splitter contract. When deploying, you specify a) wallet destination, and b) donation percentage. Like the Dev/Community Fund splitter, any fund se

[2018-02-16 17:45] riddlez666 commented on #18
If you feel its to much work and the contracts are easier please share the resource links so i can get upto speed on the bots. @ellaismer sharing the bot code/contracts might be a good idea also.

[2018-02-16 17:48] ellaismer commented on #18
Will do. I'll try to get the bots up by next week. And open source everything once I cleaned the credentials.

[2018-02-16 18:14] riddlez666 commented on #18
Say somebody doesn't want to support all the addresses can we add a flag like -dev/-com/-con to specify where they want there donations sent this was one of the main ideas/concerns of the pool edits also.

[2018-02-16 18:15] ellaismer commented on #18
@riddlez666 Yes!

[2018-02-16 18:17] riddlez666 commented on #18
I edited the check list a bit as a reference for everyone keeping track of this.

[2018-02-24 13:02] riddlez666 commented on #18
Adding comment/ request for pool software. [4:56 PM] huggermugger: @Riddlez666 ツ ☠ - pool.ellaism.io i'm mining on pool.ellaism.io do you think it would be possible to include a last 24 hour reward counter at some stage?

[2018-02-24 13:04] riddlez666 opened #19 "Pool Software WishList"
- [ ] Total block rewards over the Last 24 hours.
- [ ] See value of estimated rewards. USD/CAD

[2018-02-24 13:14] riddlez666 opened #20 "Contributor Disscusion"
List of contributor wallet signers:
- Shaman - 0xd047bb41e9acc7fd6d3e73c1f29153a6600fdc35
https://keybase.io/8shaman8/
https://explorer.ellaism.org/tx/0x966d8694d97f7c554bc8b459420b5c53c35396fa102d63debba2b36ea8ec3c7e

- vega40k - 0x00Ac1950a54e64fd36ec8562217a2Bfd5c07A3c3
https://keybase.io/vega40k/

- sncs - 0x00b10b9901216eFd5Dc50cd9f922D8aeFf9Ad904
https://keybase.io/sncs/

- iamthebeast - 0x0

[2018-02-24 13:17] riddlez666 commented on #11
Closing topic due to new explorer release which solved outstanding issues.

[2018-02-24 13:17] #11 closed

[2018-02-24 13:22] riddlez666 opened #21 "OPAL Ellagem 2.0"
Check list for alpha release of new desktop wallet.

- [ ] Internal Audit of code
- [ ] Prepare github branches for future PR/Merges.
- [ ] Spell check.

[2018-02-24 13:23] riddlez666 commented on #20
yup was getting to that :) bit of a list to go thru this morning.

[2018-02-24 13:32] riddlez666 commented on #20
@ellaismer one more missing but he will reply ASAP

[2018-02-24 13:35] riddlez666 commented on #10
@ellaismer i wonder if we can close this since the new explorer but has any testing been done?

[2018-02-24 13:36] ellaismer commented on #10
@riddlez666 Yes. I'll close. The new explorer's contract validation is known to be working. https://explorer.ellaism.org/account/0xe9C2d958E6234c862b4AfBD75b2fd241E9556303

Thanks for catching this!

[2018-02-24 13:36] #10 closed

[2018-02-24 13:43] riddlez666 commented on #12
@ellaismer Does this explorer show confirmation count? i'm updating this issue.

[2018-02-24 14:14] riddlez666 opened #22 "Explorer Gas Price"
@ellaismer I feel there might be a odd issue.
Should there be some gas used in this link?

https://explorer.ellaism.org/tx/0x7dc01e4d34244675b8eba631982460611f6dfefb450ade5205bcd107ea58d979

[2018-02-24 17:35] riddlez666 commented on #20
Updated.

[2018-02-24 19:13] ellaismer commented on #20
Thanks I'll get you the instructions soon!

[2018-02-25 10:53] ellaismer commented on #18
This is currently possible by using the SplitBot in Discord. The command format is

[code]

It donates an additional `<percentage>` to Dev Fund, Community Fund, or the split address for Dev Fund and Community Fund, and then sends the rest of the funds to `<address>`.

For example,

[code]

This would donate an additional 5% to Dev Fund, and sends the rest of the balance to `0x65767ec6d4d3d18a20084

[2018-02-25 12:55] riddlez666 commented on #18
@ellaismer this wasn't suppose to be out yet :(  Also this was the reason i was modding my pool...The contributor fund is missing can this be modified once its ready?

[2018-02-25 12:56] ellaismer commented on #18
@riddlez666 Yes of course!

[2018-02-25 13:17] ellaismer commented on #22
Fixed in https://github.com/ellaism/explorer/commit/64c16ee4e518b87d073956a3800c06321995bed3

[2018-02-25 13:17] #22 closed

[2018-02-25 22:43] ellaismer commented on #20
@riddlez666 I have deployed the multisig contract at [0xe3ecbf9ad12bf63b94fd4f7bc3dc7fcfc56e66ce](https://explorer.ellaism.org/account/0xe3ecbf9ad12bf63b94fd4f7bc3dc7fcfc56e66ce). There're two things left: a) test the multisig, and b) sign proofs and send it to blockchain.

###### Test Multisig

First you may want to send 0.1 ELLA or something like that to the above wallet for testing.

You can us

[2018-02-26 21:33] riddlez666 commented on #20
"I'm riddlez666, Developer of Ellaism and @riddlez666 at keybase.io, verifying my ownership of this Ellaism address 0xc393659c2918a64cdfb44d463de9c747aa4ce3f7 used for the Ellaism Contributor Fund Multisig: 0xe3ecbf9ad12bf63b94fd4f7bc3dc7fcfc56e66ce"

BEGIN KEYBASE SALTPACK SIGNED MESSAGE.
kXR7VktZdyH7rvq v5weRa0zkOipO6L LsOSbe4FowtrGTT qYbUXB5Pm3wjC11 w2dXNIQLkcivZBP 9jEAEuF1gqkPu5m 2O9D3nkFEGKi7

[2018-02-27 01:46] dabingus commented on #20
"I'm Hunter, contributor wallet signer of Ellaism and verifying my ownership of this Ellaism address 0x00b7281DB201a00CbEEfC8F596569b0B1df540b7 used for the Ellaism Contributor Fund Multisig: 0xe3ecbf9ad12bf63b94fd4f7bc3dc7fcfc56e66ce"
BEGIN KEYBASE SALTPACK SIGNED MESSAGE. kXR7VktZdyH7rvq v5weRa0zk8tK7Ss TR5FGPUiHBMlrJR Jy3TGYXB3jCISov M8J3d7Rxd8HWJCb xvMYwjjnTmZyasM emRhzReY2yO0hLZ qg7ZQ68teKH6E

[2018-02-27 04:33] osoese commented on #20
"I'm OSOESE Developer of Ellaism and @osoese at keybase.io, verifying my ownership of this Ellaism address 0x0666bf13ab1902de7dee4f8193c819118d7e21a6 used for the Ellaism Contributor Fund Multisig: 0xe3ecbf9ad12bf63b94fd4f7bc3dc7fcfc56e66ce"
BEGIN KEYBASE SALTPACK SIGNED MESSAGE. kXR7VktZdyH7rvq v5weRa0zkEjQIBU hfKsphmcoGemN2V hxF8amlEf33Xr4j vRJz1cXXuUlirOV EubFgH8hRAhwaOE P1BmFWvvhP4fVEH uqATp8g

[2018-02-27 04:33] riddlez666 commented on #20
@ellaismer instructions unclear super glued head to table tonight..... the signing then to blockchain part.

[2018-02-27 09:18] ellaismer commented on #20
Okay looks like some of you are using the saltpack message format. When sending hex message on the blockchain using this, you can exclude the plaintext message part and only use the part between "BEGIN KEYBASE SALTPACK SIGNED MESSAGE." and "END KEYBASE SALTPACK SIGNED MESSAGE."

[2018-02-27 09:21] ellaismer commented on #20
@riddlez666 Here's the command for you:

[code]

[2018-02-27 09:22] ellaismer commented on #20
@osoese Here's the command for you:

[code]

[2018-02-27 09:23] ellaismer commented on #20
@dabingus Here's the command for you:

[code]

[2018-02-28 14:51] riddlez666 commented on #20
https://explorer.ellaism.org/tx/0xa3a78f175da7d1b86afd0644e84b5bc168f6e9efbaf962d36cb75cb8e05f0fea @ellaismer my proof on chain

[2018-03-01 13:38] osoese commented on #20
Ellaismer,

See if this is right:

https://explorer.ellaism.org/tx/0x5a725e8ad45d572c1117b46b240bb7b7fbcafc1c0d68946567cb5483a0b13536

Thanks,

Osoese

On Tue, Feb 27, 2018 at 4:22 AM, ellaismer <notifications@github.com> wrote:

[2018-03-01 13:39] osoese commented on #20
https://explorer.ellaism.org/tx/0x5a725e8ad45d572c1117b46b240bb7b7fbcafc1c0d68946567cb5483a0b13536

@ellaismer

- forgot to tag

On Thu, Mar 1, 2018 at 8:38 AM, Frank Triantos <ftriantos@gmail.com> wrote:

[2018-03-01 14:40] riddlez666 opened #23 "ENS Feature Request"
- [ ] Navigation Menu / Back Links

[2018-03-01 18:26] riddlez666 opened #24 "Split bot update"
- [x] Add contributor fund and update commands, Please use contrib as flag.

Fund is almost done setup but is 100% usable to receive.

[2018-03-01 18:36] #14 closed

[2018-03-05 19:38] cryptowd commented on #18
So I've tested this Splitbot on the Dev pool with a 5% dev fee and created a fresh wallet to mine to for testing.  I've set my miner to the address Splitbot sent me and it seems to be working fine for Ellaism coins which are being forwarded to my new wallet, however I do not seem to be receiving mining tokens.

[2018-03-05 19:52] ellaismer commented on #18
@cryptowd The Split contract does not support receiving mining tokens yet. I'll get a fix soon!

[2018-03-05 20:47] ellaismer commented on #18
@cryptowd MINING token support is added in SplitBot. Please re-deploy your Split contract. After that, at any time, you can issue:

[code]

And all your MINING tokens will be automatically sent to your wallet.

[2018-03-05 20:51] cryptowd commented on #18
You are too fast!  Very cool.

[2018-03-11 13:04] riddlez666 commented on #24
@ellaismer

[2018-03-11 13:13] riddlez666 commented on #13
Project on back burning til geth is sorted out.

[2018-03-11 13:18] riddlez666 commented on #18
No longer needed as a open issue.

[2018-03-11 13:18] #18 closed

[2018-03-11 13:22] riddlez666 opened #25 "Multi GETH"
Ellaismer's Notes

1. We keep https://github.com/ellaism/go-ellaism using ETC's fork, and continue to merge ETC upstream patches. This way, we don't break anything for existing go-ellaism users.

2. We use https://github.com/ellaism/go-ethereum, which was started by @MakeMoneyOz - ellaismpool.com, as the base for multi geth version based on ETH.

3. We make the changes minimal -- we don't change g

[2018-03-11 14:44] riddlez666 commented on #24
Thank you for updating it.

[2018-03-11 15:53] riddlez666 commented on #12
Rich list is/was integrated.

[2018-03-11 16:25] riddlez666 commented on #20
https://explorer.ellaism.org/tx/0x966d8694d97f7c554bc8b459420b5c53c35396fa102d63debba2b36ea8ec3c7e
@ellaismer

Shamans proof submitted by me since no github account yet.

[2018-03-11 16:28] 8Shaman8 commented on #20
https://explorer.ellaism.org/tx/0x966d8694d97f7c554bc8b459420b5c53c35396fa102d63debba2b36ea8ec3c7e
@ellaismer

[2018-03-27 14:35] p-s-dev commented on #25
https://github.com/ellaism/go-ellaism  is old.

Project moved to https://github.com/ellaism/multi-geth

[2018-03-28 10:30] ellaismer commented on #24
Looks like this is either done or irrelevant. Closing.

[2018-03-28 10:30] #24 closed

[2018-04-21 09:29] ellaismer opened #26 "Ellaism Community Weekly Meeting 10 Agenda"
* **Meeting time**: Saturday 28/04/2018, at 16:00 UTC
* **Meeting location**: [Discord server](https://discord.ellaism.org)

#### Agenda

- Community Fund short-term goals and funding strategies.
- Testnet signers addition.

[2018-04-21 18:17] stevemulligan commented on #15
Hi there, I joined recently and would like to help out with Ella development.

[2018-04-25 12:16] ellaismer commented on #15
Hi @stevemulligan, sorry for the late reply! I added you as a Github org member. Please feel free to look around and contribute as you like. Please remember to join our Discord server!

[2018-04-25 12:30] ellaismer commented on #20
Closing. The contributor fund seems not to be active any more.

[2018-04-25 12:30] #20 closed

[2018-04-25 12:30] ellaismer commented on #16
Closing. The new Community Fund setup is in process.

[2018-04-25 12:30] #16 closed

[2018-04-25 13:09] ellaismer opened #27 "Community Fund Bootstrap"
This documents the new Community Fund bootstrap process.

[2018-04-25 13:16] ellaismer commented on #27
###### Test Multisig

The new Community Fund multisig contract has been deployed. Now we are going to test that we can send out funds from it. @ellaismer has transferred 1.0 ELLA to the multisig address, and we are going to send 0.5 ELLA back.

Next you'll need to use one of the browser plugin. If you are able to send transactions through Parity, that means installing the Parity Chrome Extension (

[2018-04-28 15:39] ellaismer opened #28 "Ellaism Community Weekly Meeting 11 Agenda"
* **Meeting time**: Saturday 05/05/2018, at 16:00 UTC
* **Meeting location**: [Discord server](https://discord.ellaism.org)

#### Agenda

1. Marketing and giveaway contest.
2. Byzantium and WebAssembly hard fork.

[2018-04-28 16:03] ellaismer commented on #21
This project looks inactive. Closing. Please feel free to reopen it if anyone's still working on OPAL/Ellagem.

[2018-04-28 16:03] #21 closed

[2018-04-28 16:03] #13 closed

[2018-04-28 17:20] ellaismer opened #29 "Shikinseki Testnet"

[2018-04-29 10:35] ellaismer commented on #26
Meeting log: https://github.com/ellaism/meta/blob/master/logs/20180428-dev-meeting.md

[2018-04-29 10:35] #26 closed

[2018-05-05 13:00] cryptowd commented on #28
I’d like to just do a quick once over for the marketing /giveaway contest. Answer any questions and discuss plans.

[2018-05-05 15:54] ellaismer opened #30 "Ellaism Community Weekly Meeting 12 Agenda"
* **Meeting time**: Saturday 12/05/2018, at 16:00 UTC
* **Meeting location**: [Discord server](https://discord.ellaism.org)

#### Agenda

* Please comment below for things you want to discuss.

[2018-05-08 07:10] kubu00 commented on #30
1. date and time for each transaction in explorer.

[2018-05-10 21:45] stevemulligan commented on #30
I think MediaWiki was mentioned.  I have set this up in the past.  I can do this if people prefer MediaWiki over GitHub.

[2018-05-11 06:54] kubu00 commented on #30
discuss the subject of developer e-mails for correspondence with exchanges

[2018-05-11 07:41] kubu00 commented on #30
**discuss the subject of developer e-mails for correspondence with exchanges.**

proposal to solve the problem of correspondence with exchanges:
dapp email example:
mailing from adresxxx@ellaism.org (for sending messages to exchanges)
the signature consists of people and addresses of wallets:
xxx1 (anonymous)
xxx2 (anonymous)
John Deere (not anonymous)
Mr Bean (not anonymous)
xxx3 (anonymous)

fro

[2018-05-19 15:57] ellaismer opened #33 "Ellaism Community Weekly Meeting 13 Agenda"
* **Meeting time**: Saturday 19/05/2018, at 16:00 UTC
* **Meeting location**: [Discord server](https://discord.ellaism.org)

#### Agenda

To be discussed.

[2018-05-19 15:57] ellaismer commented on #28
Meeting log: https://github.com/ellaism/meta/blob/master/logs/20180505-dev-meeting.md

[2018-05-19 15:57] #28 closed

[2018-05-19 15:58] ellaismer commented on #30
Meeting log: https://github.com/ellaism/meta/blob/master/logs/20180512-dev-meeting.md

[2018-05-19 15:58] #30 closed

[2018-05-19 17:36] ellaismer opened #34 "Ellaism Community Weekly Meeting 14 Agenda"
* **Meeting time**: Saturday 26/05/2018, at 16:00 UTC
* **Meeting location**: [Discord server](https://discord.ellaism.org)

#### Agenda

To be discussed.

[2018-05-19 17:36] ellaismer commented on #33
Meeting log: https://github.com/ellaism/meta/blob/master/logs/20180519-dev-meeting.md

[2018-05-19 17:36] #33 closed

[2018-05-23 11:47] stevemulligan commented on #34
Some exchanges are asking for real world info on core devs.  While I don't feel there is much of a rush to get on these exchanges just yet, earning the title of "core dev" might take a substantial amount of time, so I feel it would be prudent to dicuss how to train up to become a core dev.

What factors will be taken into account?  Eg, Time in the community, past crypto experience.

Can there be a

[2018-06-02 00:21] cryptowd opened #36 "Ellaism Community Weekly Meeting 15 Agenda"
* **Meeting time**: Saturday 02/06/2018, at 16:00 UTC
* **Meeting location**: [Discord server](https://discord.ellaism.org)

#### Agenda

To be discussed.

[2018-06-02 00:36] cryptowd commented on #36
I'd like to discuss the possibility of putting together an informational video for our front page.  --maybe 60 to 90 seconds long and just hit the bullet points for what we think makes Ellaism unique, why it is important, and where we are going.

Here is a basic outline from a document I put together a few months ago with additions regarding our fork and other milestones:

**Launch and Philosophy:

[2018-06-02 00:39] cryptowd commented on #36
Discuss next steps in marketing.

- Need more community involvement
- Possible reward token based on community outreach that is redeemable in swag store.
- Possible rewards based on creating the most impressions through Twitter, Youtube, etc.
- Extend campaign and budget it to last until hard fork.

Suggest for week 5 rewards are given for contributing to Github.  Development work a priority.

[2018-06-02 17:08] #36 closed

[2018-06-02 17:09] cryptowd opened #37 "Ellaism Community Weekly Meeting 16 Agenda"
* **Meeting time**: Saturday 09/06/2018, at 16:00 UTC
* **Meeting location**: [Discord server](https://discord.ellaism.org)

#### Agenda

To be discussed.

[2018-06-09 15:27] cryptowd commented on #37
1. Need to discuss release of some funds from Community Wallet to pay swag store and prizes.
2. Would like to set a time and schedule for the #summer-of-code workshops.
3. Discuss some possible tools or project the #summer-of-code group could work on for Ellaism ether during the workshops or soon after as something to transition into.

[2018-06-09 16:03] ellaismer commented on #34
Meeting logs: https://github.com/ellaism/meta/blob/master/logs/20180526-dev-meeting.md

[2018-06-09 16:03] #34 closed

[2018-06-09 17:22] cryptowd opened #38 "Ellaism Community Weekly Meeting 17 Agenda"
* **Meeting time**: Saturday 09/06/2018, at 16:00 UTC
* **Meeting location**: [Discord server](https://discord.ellaism.org)

#### Agenda

To be discussed.

[2018-06-09 17:22] #37 closed

[2018-06-09 17:27] cryptowd commented on #38
We'll review the status of signees for the Community Fund.

[2018-06-13 11:38] stevemulligan commented on #38
iOS Ellaism Wallet is code complete.  I need to convert my iOS dev account into an organization before I can submit the binaries though.  Crypto Wallets can only be submitted on iOS by organizations with a DUNS number.

I'm reviewing Android wallets to fork.  Trust Wallet makes an Android version that is GPL 3 but it's not up to date with their iOS so I'm also looking at https://github.com/manuels

[2018-06-16 13:18] stevemulligan commented on #38
Afex reported not being able to access the wiki from Russia without being on a VPN.  It's easy to migrate the vm to a new data center.  Alternatives are:

- London
- Amsterdam
- Frankfurt
- Bagalore
- Singapore

Also, limax offered lab VM's as an option.

[2018-06-16 16:28] ellaismer commented on #25
This project is taken over by Ethoxy, please find the new repo here: https://github.com/ethoxy/multi-geth
To prepare for the August hard fork enabling Byzantium and WebAssembly, existing users please upgrade to Parity v1.10.6+.

[2018-06-16 16:28] #25 closed

[2018-06-16 18:07] cryptowd opened #39 "Ellaism Community Weekly Meeting 18 Agenda"
* **Meeting time**: Saturday 23/06/2018, at 16:00 UTC
* **Meeting location**: [Discord server](https://discord.ellaism.org)

#### Agenda

Reply with issues to be discussed below.

[2018-06-16 18:09] #38 closed

[2018-06-21 07:57] kubu00 commented on #39
2. set up a wallet for exchange listing fees (DeSVaR proposition)

[2018-06-23 12:42] stevemulligan commented on #39
- iOS Wallet pending approval for testing, 2 testers signed up
  - Still needs localization, I will collect strings and post them
- Android Wallet started, https://github.com/ellaism/Lunary-Ethereum-Wallet
- Wiki moved to Amsterdam for max reachability
- Ingridfire and nash completed website redesign  https://new-ella.outdoordevs.com/
  - Need people to test, give feedback
  - Hard fork countdown

[2018-06-23 16:43] cryptowd opened #40 "Ellaism Community Weekly Meeting 19 Agenda"
* **Meeting time**: Saturday 30/06/2018, at 16:00 UTC
* **Meeting location**: [Discord server](https://discord.ellaism.org)

#### Agenda

Reply with issues to be discussed below.

[2018-06-23 16:43] #39 closed

[2018-06-26 12:15] stevemulligan opened #41 "Discord Channel Reorg"
# Why?
There were a few people who mentioned they felt there were too many channels.  Drafting a proposed structure that seeks to eliminate unused channels and to make the experience for first time visitors a bit easier.  When I say "removed" it doesn't have to be deleted.  There can be an "ARCHIVE" category where all the removed channels go for instance.

# Proposed Structure

**INFORMATION**
 \#

[2018-06-26 12:16] stevemulligan commented on #40
Started a draft for proposed Discord Channel Reorg.  Maybe it's fine the way it is?  Let's discuss.  https://github.com/ellaism/meta/issues/41

[2018-07-07 16:20] ellaismer commented on #41
@stevemulligan I suggest we still keep the #wasm-hardfork working group right now. The hard fork isn't done yet and we still have some stuff to do!

[2018-07-20 22:48] akx20000a opened #45 "Metamask integration"
Currently I am working for metamask integration to add multiple ethereum-like network support for example Ethereum Classic or Expanse, Ethereum Social, etc.

I would like to suggest adding ellaism RPC port and it's following configs on my version of metamask also.

And I would like to hear any suggestions about supporting ellaism on Metamask 😄

[2018-07-20 23:39] hackmod commented on #45
what the .... :(

Please see https://github.com/MetaMask/metamask-extension/pull/4516

[2018-07-21 00:01] akx20000a commented on #45
@hackmod No I will not use your version of metamask ( It causes crash sometimes )

I am working on to improve ClassicMask with Callisto team and the updated binary will be published soon

[2018-07-21 00:02] akx20000a commented on #45
@hackmod 야 좀 그만 따라다녀 노망났냐;;

[2018-07-21 08:17] #45 closed

[2018-07-22 02:34] akx20000a opened #46 "Metamask integration"
Currently I am working for metamask integration to add multiple ethereum-like network support for example Ethereum Classic or Expanse, Ethereum Social, etc.

I would like to suggest adding ellaism RPC port and it's following configs on my version of metamask also.

And I would like to hear any suggestions about supporting ellaism on Metamask 😄

@hackmod 깝치지 마라 씨발년아 꼬우면 기여하던가 병신이

[2018-07-22 13:53] hackmod commented on #46
he continuously try to leak out my real life personal information (TEL, address) on github, discord channels, and swearing in Korean...

[2018-07-22 14:23] akx20000a commented on #46
@hackmod Are you afraid for someone knocking your door??

[2018-07-22 14:23] #46 closed

[2018-07-22 14:32] stevemulligan commented on #46
Guys come on, the point of open source is to share code and work together, no need to act like this is Amazon vs Microsoft.

[2018-08-02 12:00] stevemulligan opened #47 "Ellaism Community Weekly Meeting 20 Agenda meeting"
- Discuss results of hard fork
- Ellaism Wallet in Fdroid, and why getting a wallet from Fdroid might be preferred by some
- Congrats to @BAlgimantas (Iam3) for getting Ellaism into Andreas M. Antonopoulos new book on Ethereum
- Status of secondary explorer from Limax
- ethminer progress on Ledger support
- CS_Akira talk about etc-explorer fork

[2018-08-08 11:36] stevemulligan commented on #41
This is working out well.  I really like #support up near the top.  Closing.

[2018-08-08 11:36] #41 closed

[2018-08-09 22:19] stevemulligan commented on #7
Migrated Prove It.

https://proveit.outdoordevs.com/

https://github.com/stevemulligan/ProveIt

[2018-09-16 22:46] quantifycrypto opened #50 "Ellaism Community recommendations"
Hello all,
I totally support decentralization, open source and community based projects. These are the few things that had drawn me to the Ellaism project.

I come from a mining background and am on discord 24/7. I have noticed that the discord channel needs a revamp. A lot of the protocols  have a discord that looks "presentable" and active. Maybe we can do a few things to spruce it up a little b

[2018-09-19 17:15] stevemulligan commented on #50
You end up with a situation where people put ! in front of their name to advertise which would be nice to avoid.  It does look confusing and a bit untrustworthy once that happens.

[2018-09-19 17:44] sc0rp1on commented on #50
I think role organisation visibility is good to have. Let's people know who's involved

[2018-09-20 02:11] Afexs commented on #50
Perhaps this is something that is. But I liked the way discord was organized. Without allotting to groups like everyone else. This gives more unity and involvement of each in my opinion. And it seems to me that it is based on its unique way to build cooperation in discord.

[2018-10-29 11:34] ellaismer opened #51 "Ellaism Community Weekly Meeting 21"
* **Meeting time**: Saturday 11/03/2018, at 16:00 UTC
* **Meeting location**: [Discord server](https://discord.ellaism.org)

[2018-11-24 12:57] stevemulligan opened #52 "Planning for Bounty System"
This thread was created to discuss, plan and finalize features that will be included in the first version of Ella's bounty system.  Please pass it along that we are seeking participation and comments.

[2018-11-24 17:39] stevemulligan commented on #52
I want to this app to hit a few points

- Increase community engagement, get more donations, exchange more ideas, build more things.
- Attract developers. Showcase a list of projects that require dev work and show much bounty has been collected so far.
- Staking, so people know exactly how much reward will be available and until what time.
- A process to reach consensus on when bounty should be aw

[2018-11-25 14:12] itsfortytwo opened #53 "Membership"
I want to be a part of the project. Thank you!

[2018-11-26 05:56] majordutch commented on #52
Hey @stevemulligan, casual observer here. For what it's worth, I like the direction of your proposal. I believe it embraces the community driven aspect of Ellaism and can provide incentive for developers, designers, etc to contribute to building the ecosystem.

I am really interested to see how this turns out.

[2018-11-27 12:13] stevemulligan commented on #52
I'm sent this to some colleges at work, so I'll post it here as it helps to describe what I think will be a useful tool for us.

**Decentralized Topic Funding**

I'm in a decentralized community with lots of builders, and non builders that still want to contribute. We have a need to:

  - funnel similar ideas into a discussion that eventually becomes a project
  - connect builders to projects
  -

[2018-11-28 12:38] stevemulligan commented on #52
Funding a Topic
---------------

This describes the stages that will take an idea from its genesis to a final state where the bounty is either awarded or returned to stakers.

Actors
------
User: Anyone on the system, read or writing content
Funder: Someone that donates ELLA
Donator: Someone that donates to an idea without desire to hold a stake
Staker: Donator that has a time limit on their suppo

[2018-12-11 12:30] stevemulligan commented on #52
## Dev Dependencies

[Dgraph](https://docs.dgraph.io/get-started/)  - Graph Database for backend

**Front End**
React
Redux
React Router
Socket.io
jsonwebtoken
Web3

**Back End**
Express
Socket.io
discord.js

Even though I don't expect a large number of users for this, I still want to explore what is possible with a Graph DB since I have not used them much.

Visit the [Archella Repo](https://githu

[2018-12-27 23:18] majordutch opened #55 "Issue Tracker and Project Clean Up"
Hey everyone, I think it's time that we clean up any stale issues and re-evaluate tasks within the Project Management project. This will help us better understand where we need to concentrate our efforts in order to begin expanding the Ellaism ecosystem.

I would be happy to donate a portion of my free time and manage this for you.

Paging @ellaismer @stevemulligan

[2018-12-28 03:58] stevemulligan commented on #55
This is great! Let me know if I can help with anything.

[2018-12-28 09:21] ellaismer commented on #55
@majordutch Thank you for this! I invited you to the Ellaism org and gave you project manager role. You should now be able to manage issues/PRs. :)

[2018-12-28 16:51] majordutch commented on #55
Thank you both! I will get started on this.

[2018-12-28 17:02] majordutch commented on #40
Meeting notes here:
https://github.com/ellaism/meta/blob/master/logs/20180623-dev-meeting.md

[2018-12-28 17:02] #40 closed

[2018-12-28 17:03] majordutch commented on #51
~~Could not find any meeting notes to reference.~~

Meeting notes here:
https://github.com/ellaism/meta/blob/master/logs/20181103-dev-meeting.md

[2018-12-28 17:03] #51 closed

[2018-12-28 17:05] majordutch commented on #47
Meeting notes here:
https://github.com/ellaism/meta/blob/master/logs/20180804-dev-meeting.md

[2018-12-28 17:05] #47 closed

[2018-12-28 17:43] majordutch commented on #53
Hey @itsfortytwo if you haven't already, join the [Ellaism Discord](https://discordapp.com/invite/gz9tURY) and post in the #umbrella channel.

Alternatively, if you would rather communicate via this thread, feel free to reopen it and let us know how you'd like to contribute.

[2018-12-28 17:43] #53 closed

[2018-12-29 21:55] majordutch commented on #55
Re-opening this issue in order to generate discussion on the following:

I would like to see if it is possible to get status updates, or at a minimum, gauge the community's sentiment on whether or not a project is necessary at this time.

1. ENS Feature Request #23
2. Pool Software WishList #19
3. Explorer Wishlist #12
4. Project: Dapps Migration #6
5. Project: BTC Relay #6

I know for a lot of th

[2018-12-29 21:58] stevemulligan commented on #55
I have no ongoing work for any of the above.  I dislike our ENS front end and would like to see that totally replaced.

[2018-12-29 22:17] majordutch commented on #29
I am going to close this issue as part of the clean up sweep. If there is something more you want to add regarding the testnet, please feel free to reopen.

For others, if you end up here, there are more details about the [Shikinseki Testnet on the Ellaism website](https://ellaism.org/testnet/).

[2018-12-29 22:17] #29 closed

[2018-12-29 22:28] majordutch commented on #50
I know that there were recently some organizational changes applied to the Discord channels as well as the addition of some groups. I think this makes for a better first, and hopefully ongoing, interaction with the Ellaism community.

If you feel more can be done, please feel free to reopen this issue, create a new issue or jump on the [Ellaism Discord](https://discordapp.com/invite/gz9tURY) and s

[2018-12-29 22:31] stevemulligan commented on #52
The Bounties Network platform has already proven to be effective and exposing Ellaism to a larger audience.  The platform is open source https://github.com/Bounties-Network

Bounties can be posted at any time for any project that people want to support.

https://explorer.bounties.network

My plan is to close this issue and move the repo that was created.

[2018-12-29 22:31] #52 closed

[2018-12-29 23:05] majordutch opened #57 "Consider Disabling GitHub Wiki"
I think we should consider disabling the GitHub Wiki in this repo as it appears to be underutilized and likely redundant. We can update messaging in the README to point people to the [Ellaism-hosted wiki](https://wiki.ellaism.org/), if needed.

@ellaismer do you have an opinion on this?

[2018-12-30 03:15] ellaismer commented on #57
@majordutch Sounds like a good idea to me. See if other devs may have comments.

cc @stevemulligan @ellaism/project-managers

[2018-12-30 13:58] stevemulligan commented on #23
The ENS system we have is one of the most frustrating experiences I've ever had.  I'd like to see it replaced with a different front end.  I may have time for this in a few months when return to OpenAlias work.

[2018-12-30 14:16] stevemulligan opened #58 "Project: ERC-721 tools for creators"
I see a strong interest from artists and other creators about erc-721 collectible tokens. I would like to create a tutorial and a suite of tools that makes it easy for artists to sell their works as a token.

Step 1 - Token Wizard

It needs to be easy to create a token.  A single click without the minutiae that is usually associated with creating your own token.

[ERC-721 Wizard Source](https://gi

[2018-12-30 21:59] majordutch commented on #57
I see it has been disabled, thanks.

[2018-12-30 21:59] #57 closed, assigned to nobody

[2018-12-30 23:32] stevemulligan commented on #58
Leaving a note so to review token options like supply cap and making them burnable.  This should be added to advanced options in the token wizard.

- [ ] Supply Cap option
- [ ] Make tokens burnable option
- [ ] Make enumeration an option (currently enabled and can't be turned off)

Only add these options if the stock OpenZeppelin implementations support them.

[2018-12-31 22:22] kimisan commented on #58
wow, interesting topic.
I also study ERC721 recently, it should be a big market for Art market.

[2018-12-31 22:24] majordutch opened #59 "Update Ellaism Information on CoinGecko"
Could someone contact CoinGecko and ask them to fix the following:

1. Available/Total Supply
2. Twitter, it currently points to https://twitter.com/EllaismCoin

Additionally, the [Developer](https://www.coingecko.com/en/coins/ellaism/developer#panel) tab currently points to the ellaism/go-ellaism repo. **I am not sure if this is the best repo to showcase, maybe it should be discussed.**

See here

[2018-12-31 22:35] majordutch commented on #8
I am going to close this out. I will update the README.md with useful links and include a link to the protocol specification there.

[2018-12-31 22:35] #8 closed

[2018-12-31 23:25] stevemulligan opened #60 "Project: Add wasm progress to website"
Wasm was enabled at block 2,000,000 and unless you were in the Discord there is really not a lot of public info about this event. Developers interested in wasm might not be able to easily find the resources that we have available.

We should update the following places:

- [x] https://ellaism.org/
- [ ] https://ellaism.org/news-update/
- [x] https://github.com/ellaism/meta/tree/master/logs
- [x] M

[2019-01-04 22:24] stevemulligan commented on #60
@ellaismer when the quarterly update is published (assuming it mentions wasm) this will be complete and I will thank Lane for pointing out the missing info.

[2019-01-05 01:11] stevemulligan commented on #59
I just submitted an update to coingecko.  I created these endpoints for circulating supply. It's not 100% accurate but it's close enough and gets updated every 5 minutes.

https://bellance.outdoordevs.com/api/circulating_supply
https://bellance.outdoordevs.com/api/circulating_supply?decimal=true

We might need to contact  hello@coingecko.com  if the form doesn't work.  I've submitted this form bef

[2019-01-05 01:13] majordutch commented on #59
Thanks @stevemulligan!

[2019-01-05 01:16] stevemulligan commented on #59
I kept a list on the wiki of sites that needed info updated here, but it hasn't been updated in a while:

https://wiki.ellaism.org/marketing

[2019-01-05 01:17] majordutch commented on #59
Excellent, thanks. I need to browse the wiki to get more familiar with what is there.

[2019-01-08 14:46] majordutch commented on #59
It looks like CoinGecko updated the information. Thanks again!

[2019-01-08 14:46] #59 closed, assigned to nobody

[2019-04-05 19:26] thomasvaughan opened #63 "Monero OpenAlias signature validation by https://oat.outdoordevs.com/"
When checking an OpenAlias Monero record at https://oat.outdoordevs.com/ the following warning is seen:—

The following StackExchange answer may therefore be of interest, since it provides interactive and RPC recipes:—
https://monero.stackexchange.com/questions/6093/how-to-sign-a-message-with-my-public-monero-address-and-verify-it-using-the-cli/6097#6097

[2020-07-28 20:53] majordutch opened #64 "Administrative Access to Ellaism GitHub"
Hi @ellaismer, the small community that you left behind would like to continue on with this project. Can you please give me administrative access to the Ellaism GitHub?

Thank you.

[2020-07-28 21:28] ellaismer commented on #64
I'm back!

[2020-07-28 21:59] majordutch commented on #64
I am sure some will be happy to hear this, however my request still stands. The management of the Ellaism repositories should not hinge on a single individual. As it is, I had to create a separate organization to continue working on some projects. It would be ideal to bring these back in to the original organization.

[2020-07-28 22:13] ellaismer commented on #64
@majordutch ~~I can't give you owner role now, but I'd be happy to do it once I can trust you more. For any other type of administrative access, just let me know and I'm sure it can be easily fulfilled.~~

I have transferred the admin access of this Github org to you!

[2020-07-28 22:53] #64 closed, assigned to sorpaas, ellaismer

[2020-11-23 03:19] #60 closed, assigned to stevemulligan

[2020-11-23 03:19] #63 closed, assigned to nobody

[2020-11-23 03:20] #55 closed

[2020-11-23 03:20] #6 closed

[2020-11-23 03:20] #7 closed

[2020-11-23 03:20] #9 closed

[2020-11-23 03:20] #12 closed

[2020-11-23 03:20] #15 closed

[2020-11-23 03:20] #19 closed

[2020-11-23 03:20] #23 closed

[2020-11-23 03:20] #27 closed

[2020-11-23 03:20] #58 closed, assigned to stevemulligan